node_modules/
dist/
.env
.vscode/c_cpp_properties.json
# Abaikan folder arduino-examples
arduino-examples/
# Abaikan folder build di dalam semua subfolder Arduino/
Arduino/*/build/
Arduino/libraries/
Arduino/driver/
